<h2>ELIMINAR PRODUCTO</h2>
<form action="/delete" method="POST">
  <label for="productId">ID del Producto a Eliminar:</label>
  <input type="text" id="productId" name="productId" required />
  <button type="submit">Eliminar Producto</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>