<form action="http://localhost:8080/signup" method="post">
  <input
    name="first_name"
    id="first_name"
    type="text"
    placeholder="first name"
  />
  <input name="last_name" id="last_name" type="text" placeholder="last name" />
  <input name="email" id="email" type="email" placeholder="email" />
  <input name="password" id="password" type="text" placeholder="password" />
  <button value="submit">Logear</button>
</form>